@charset "UTF-8";
@import "refreshstyle";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


//переменные через $name: attribute;
$bg-main-color: linear-gradient(to left top, #8b0505, #923000, #954c00, #966400, #957b00, #938a00, #8e9a00, #84aa00, #79b705, #69c515, #4ed227, #00e03a);
$bg-main-color2: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
$bg-main-color3: radial-gradient(circle, #20006b, #140a65, #08105e, #011456, #00164e, #001a4a, #001d46, #001f41, #00233e, #002636, #00272d, #002724);
//Шаблон через %name {attributs: property} запуск через @extend %name


//миксины через @mixin name($name) {attribute: $name} запуск через @include name(property)


//Основной код

body {
  align-items: center;
  background-image: $bg-main-color3;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-family: swap;
  height: inherit;
  justify-content: center;
  user-select: none;
}


.wrapper{
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.34);
  flex-basis: 400px;
  height: 575px;
  padding: 20px 35px;
  p{
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: bold;
    color: #34e0be;
  }
  .screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    color: #232323;
    font-size: 35px;
    font-weight: 700;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
  }
}



.calc-button-row{
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  .calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
    transition: all 0.3s;
      &:hover{
        background-color: inherit;
      }
      &:last-child{
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        background: rgba(255, 255, 255, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.01);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
        color: #232323;
        background: #d72880;
          &:hover{
            background-color: inherit;
            color: inherit;
          }
      }
      &:active{
        background-color: #ffef78;
      }
  }
  .double{
    flex-basis: 47%;
  }
  .triple{
    flex-basis: 73%;
  }
}



